<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName/>
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of products" (click)="onSelect(hero)"
      [class.selected]="hero === selectedProduct">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x
    </button>
  </li>
</ul>
<div *ngIf="selectedProduct">
  <h2>
    You choose {{selectedProduct.name | uppercase}}.
  </h2>
  <h3>
    Some info: {{selectedProduct.description}}
  </h3>
  <button (click)="gotoDetail()">View Details</button>
  <button (click)="addToBucket(selectedProduct)">Add to bucket</button>
</div>
